.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 24px 0 40px;

}

.ContainerDiv {
  margin-top: 24px;

}

.input {
  width: 300px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid #e3ffa8;
  gap: 10px;
  background-color: #0f0f0f;
  color: #b6b6b6;

}

.field {
  min-height: 16px;
}

.errorFields {
  display: block;
  width: auto;
  min-height: 16px;
  padding-left: 6px;
  text-align: start;
  color: #E74A3B;
}

.button {
  width: 300px;
  height: 36px;
  padding: 8px 10px 8px 10px;
  border-radius: 12px;
  gap: 10px;
  background-color: #e3ffa8;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #0f0f0f;

}

.error {
  color: rgb(20, 9, 9);
}



.heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

.h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  width: 300px;
  margin-bottom: 24px;
}

.account {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 16px;
}

.signInLink {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.linkContainer {
  margin-top: 80px;
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .container {

    padding: 40px 168px 60px;
    align-items: center;
    justify-content: center;

  }

  .ContainerDiv {
    margin-top: 60px;
    width: 444px;

  }



  .heading {
    font-family: Poppins;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }

  .h3 {
    font-size: 18px;
    text-align: center;
    width: 455px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;

  }

  .subheading {
    width: 444px;
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
  }

  .input {
    width: 360px;
    height: 36px;
    gap: 16px;
  }

  .button {
    width: 360px;

  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkContainer {
    margin-top: 310px;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .linkText {
    font-size: 14px;
    margin-right: 16px;
  }

  /* .forgotPasswordLink {
    margin-bottom: 250px;
  } */

  .signupText {
    font-size: 14px;
    font-weight: 400;
    margin-right: 16px;
  }

  .signupContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .account {
    margin-right: 16px;
  }

}

@media (min-width: 1440px) {
  .container {
    flex-direction: row;

    padding: 40px 116px 60px;
    align-items: center;
    justify-content: center;
    overflow: hidden;


  }

  .ContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 508px;
    justify-content: space-between;

    margin-top: 80px;
    margin-left: 104px;
    width: 444px;

  }

  .center {
    display: flex;
    flex-direction: column;
  }



  .button {
    width: 360px;

  }

  .input {
    width: 360px;
    height: 36px;
    gap: 16px;
  }

  .linkContainer {
    display: flex;
  }

  .account {
    margin-right: 16px;
  }


}