.recomendedFoodSection {
  width: 300px;
}

@media screen and (min-width: 834px) {
  .recomendedFoodSection{
    width: 780px;
  }
}

@media screen and (min-width: 1440px){
  .recomendedFoodSection {
    display: flex;
    flex-direction: column;
    width: ;
  }
}

.recomendedFoodTitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
}

.recomendedFoodList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recomendedFoodListItem {
    width: 380px;
    padding: 20px 24px;
    background-color: #0F0F0F;
}


