.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 24px 0 40px;

}

.ContainerDiv {
  margin-top: 24px;

}

.input {
  outline: none;
  width: 300px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid #e3ffa8;
  gap: 10px;
  background-color: #0f0f0f;
  color: #b6b6b6;
  /* margin-bottom: 16px; */
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #0f0f0f inset;
  -webkit-text-fill-color: #b6b6b6;
  transition: background-color 3000s ease-in-out 0s;
}

.button {

  width: 300px;
  height: 36px;
  padding: 8px 10px 8px 10px;
  border-radius: 12px;
  gap: 10px;
  background-color: #e3ffa8;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #0f0f0f;
  margin-bottom: 80px;
}


.heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}

.subheading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 24px;
}

.linkText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 16px;
}

.link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  width: 122px;
  height: 20px;
}

.passwordInputContainer {
  position: relative;
}

.passwordInput {
  width: 300px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 12px;
  border-color: #e3ffa8;
  border: 1px solid #e3ffa8;
  gap: 10px;
  color: #b6b6b6;
  background-color: #0f0f0f;
}

.passwordInput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #0f0f0f inset;
  -webkit-text-fill-color: #b6b6b6;
  transition: background-color 5000s ease-in-out 0s;
}

.invalidPassword {
  border-color: #e74a3b;
}

.securePassword {
  border-color: #3cbc81;
}

.passwordMessage {
  font-size: 8px;
  margin-top: 5px;
  max-width: 300px;
}

.invalidPassword .passwordMessage {
  color: #e74a3b;
}



.passwordInputIcon {
  position: absolute;
  top: 10px;
  left: 260px;
}


.field {
  min-height: 16px;
}

.errorFields {
  display: block;
  width: auto;
  min-height: 16px;
  padding-left: 6px;
  text-align: start;
  color: #E74A3B;
}

.correctFields {
  display: block;
  width: auto;
  min-height: 16px;
  padding-left: 6px;
  text-align: start;
  color: #3CBC81;
}

.redBorder {
  background-color: #3cbc81;
  border: 4px solid #e74a3b;
  border-color: #e74a3b;
}

.invalidInput {
  border-color: #E74A3B;
}

.securePassword,
.validInput {
  border-color: #3CBC81;
}

.googleAuth {
  width: 300px;
  height: 36px;
  display: flex;
  padding: 0.5rem 1.4rem;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 12px;

  gap: 0.75rem;

  color: #b6b6b6;
  cursor: pointer;
  transition: all 0.6s ease;
  margin: 16px auto;
}

.googleAuth svg {
  height: 24px;
}

.googleAuth:hover {
  transform: scale(1.02);
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .container {

    padding: 40px 168px 60px;
    align-items: center;
    justify-content: center;

  }

  .ContainerDiv {
    margin-top: 60px;

  }

  .heading {
    font-family: Poppins;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
  }

  .subheading {
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
  }

  .input {
    width: 380px;
    height: 36px;
    gap: 16px;
  }

  .button {
    width: 380px;
    margin-bottom: 238px;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .linkText {
    font-size: 14px;
    margin-right: 16px;
  }

  .passwordInput {
    width: 380px;
    height: 36px;
    border: 1px solid #e3ffa8;
  }

  .invalidPassword {
    border-color: #e74a3b;
  }

  .securePassword {
    border-color: #3cbc81;
  }

  .passwordMessage {
    font-size: 8px;
    margin-top: 5px;
    max-width: 380px;
  }

  .passwordInputIcon {
    top: 10px;
    left: 350px;
  }

  .invalidPassword .passwordMessage {
    color: #e74a3b;
  }

  .securePassword .passwordMessage {
    color: #3cbc81;
  }

  .googleAuth {
    margin: 5px auto;
  }
}

@media (min-width: 1440px) {
  .container {
    flex-direction: row;

    padding: 40px 116px 60px;
    align-items: center;
    justify-content: center;
    overflow: hidden;


  }

  .heading {
    font-size: 30px;
    line-height: 1.3;
  }


  .ContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 508px;
    justify-content: space-between;

    margin-top: 80px;
    margin-left: 104px;
    width: 444px;

  }



  .center {
    display: flex;
    flex-direction: column;
  }



  .passwordInput {

    width: 212px;
    height: 36px;
    padding: 8px 10px;
    border-radius: 12px;
    border: 1px solid #e3ffa8;
    gap: 10px;
    color: #b6b6b6;
    background-color: #0f0f0f;
  }

  .input {
    width: 212px;
  }

  .button {
    width: 212px;
    margin-bottom: 20px;
  }

  .linkContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .linkText {
    font-size: 12px;
    margin-right: 12px;
  }

  .link {
    font-size: 12px;
  }

  .invalidPassword {
    border-color: #e74a3b;
  }

  .securePassword {
    border-color: #3cbc81;
  }

  .passwordMessage {
    font-size: 8px;
    margin-top: 5px;
    max-width: 192px;
  }



  .passwordInputIcon {

    top: 10px;
    left: 180px;
  }

  .googleAuth {
    width: 212px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0em;
    padding: 0 5px;
    margin: 0 0 16px;
  }

  .googleAuth svg {
    height: 24px;
  }

  .googleAuth:hover {
    transform: scale(1.02);
  }

}