.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.input {
  outline: none;
  width: 300px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid #e3ffa8;
  gap: 10px;
  background-color: #0f0f0f;
  color: #b6b6b6;
  margin-bottom: 16px;
}

.button {
  margin-top: 16px;
  width: 300px;
  height: 36px;
  padding: 8px 10px 8px 10px;
  border-radius: 12px;
  gap: 10px;
  background-color: #e3ffa8;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #0f0f0f;
  margin-bottom: 80px;
}

.error {
  color: rgb(0, 0, 0);
}

.containerImg {
  margin-bottom: 24px;
}

.heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}

.subheading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 24px;
}

.linkText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 16px;
}

.link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  width: 122px;
  height: 20px;
}

.passwordInputContainer {
  position: relative;
}

.passwordInput {
  width: 300px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 12px;
  border-color: #e3ffa8;
  border: 1px solid #e3ffa8;
  gap: 10px;
  color: #b6b6b6;
  background-color: #0f0f0f;
}

.invalidPassword {
  border-color: #e74a3b;
}

.securePassword {
  border-color: #3cbc81;
}

.passwordMessage {
  font-size: 14px;
  margin-top: 5px;
  max-width: 300px;
}

.invalidPassword .passwordMessage {
  color: #e74a3b;
}

.securePassword .passwordMessage {
  color: #3cbc81;
}
.imgIllustrationMobile {
  display: block;
}
.imgIllustrationDesktop {
  display: none;
}
.imgIllustrationTablet {
  display: none;
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .container {
    max-width: 834px;
    padding: 195px;
    padding-top: 40px;
  }
  .containerImg {
    display: flex;
    width: 380px;
    margin-bottom: 60px;
    align-items: stretch;
    justify-content: center;
  }

  .imgIllustration {
    width: 380px;
  }
  .heading {
    font-family: Poppins;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
  }
  .subheading {
    width: 444px;
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
  }

  .input {
    width: 380px;
    height: 36px;
    gap: 16px;
  }
  .button {
    width: 380px;
    margin-bottom: 238px;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .linkContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .linkText {
    font-size: 14px;
    margin-right: 16px;
  }

  .passwordInput {
    width: 380px;
    height: 36px;
    margin-left: 24px;
    border: 1px solid #e3ffa8;
  }
  .invalidPassword {
    border-color: #e74a3b;
  }

  .securePassword {
    border-color: #3cbc81;
  }

  .passwordMessage {
    font-size: 14px;
    margin-top: 5px;
    max-width: 380px;
    margin-left: 26px;
  }

  .invalidPassword .passwordMessage {
    color: #e74a3b;
  }

  .securePassword .passwordMessage {
    color: #3cbc81;
  }
  .imgIllustrationTablet {
    display: block;
    background-image: url('../../../assets/img/tablet/Illustration.png');
  }
  .imgIllustrationDesktop {
    display: none;
  }

  .imgIllustrationMobile {
    display: none;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  .heading {
    font-size: 30px;
    line-height: 1.3;
  }

  .ContainerDiv {
    margin-left: 25px;
  }
  .containerImg {
    max-width: 592px;
    margin-right: 104px;
  }

  .imgIllustration {
    width: 592px;
    margin-right: 50px;
  }

  .center {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 192px;
  }

  .passwordInput {
    width: 192px;
    height: 36px;
    padding: 8px 10px;
    border-radius: 12px;
    border: 1px solid #e3ffa8;
    gap: 10px;
    color: #b6b6b6;
    background-color: #0f0f0f;
  }

  .button {
    width: 192px;
    margin-bottom: 200px;
  }
  .linkContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .linkText {
    font-size: 12px;
    margin-right: 12px;
  }
  .link {
    font-size: 12px;
  }
  .invalidPassword {
    border-color: #e74a3b;
  }

  .securePassword {
    border-color: #3cbc81;
  }

  .passwordMessage {
    font-size: 14px;
    margin-top: 5px;
    max-width: 192px;
  }

  .invalidPassword .passwordMessage {
    color: #e74a3b;
  }

  .securePassword .passwordMessage {
    color: #3cbc81;
  }
  .imgIllustrationDesktop {
    display: block;
    background-image: url('../../../assets/img/desktop/Illustration.png');
  }
  .imgIllustrationTablet {
    display: none;
  }
  .imgIllustrationMobile {
    display: none;
  }
}
