.targerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  min-width: 142px;
  height: 48px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.42;
}

.targetImg {
  width: 28px;
  height: 28px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5f5e5c;
  border-radius: 12px;
  padding: 10px;
}

.titleTarget {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;
}

.subTitleTarget {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
}

.BtnTextWrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 834px) {
  .controlPanel {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    /* width: 310px; */
    height: 48px;
    margin-right: 73px;
  }
}

.weigthTargetText {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  color: #b6b6b6;
}

@media screen and (min-width: 1440px) {
  .controlPanel {
    width: 350px;
    margin-right: 124px;
  }
}
