.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.auth-header {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  width: 300px;
  margin-bottom: 16px;
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-step {
  margin: 10px 0;
}

.auth-step-button {
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.auth-step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.main-auth-container {
  text-align: center;
  padding: 20px;
}

.main-auth-title {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #b6b6b6;
  width: 300px;
  margin-bottom: 24px;
}

.auth-button {
  width: 142px;
  height: 36px;
  padding: 2px 10px 2px 10px;
  border-radius: 12px;
  gap: 10px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.8;
  letter-spacing: 0em;
  text-align: center;
}

.auth-button:hover {
  background-color: #e3ffa8;
  color: #000000;
}

.main-auth-button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.auth-img {
  margin-bottom: 24px;
  width: 300px;
}

.auth-container ul li {
  position: relative;
  padding-left: 20px;
}

.auth-container ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #e3ffa8;
  border-radius: 50%;
}

.auth-list-a-b {
  display: none;
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .auth-list-c {
    display: none;
  }
  .auth-list-a-b {
    display: block;
    display: flex;
  }

  .auth-list-item {
    margin-bottom: 16px;
  }
  .auth-list-a {
    margin-right: 16px;
  }

  .auth-content {
    max-width: 444px;
  }
  .auth-container {
    margin-top: 20px;
  }

  .auth-img {
    margin-bottom: 80px;
    width: 380px;
  }
  .main-auth-title {
    text-align: center;
  }

  .auth-button {
    width: 212px;
    margin-bottom: 80px;
  }

  .auth-container ul li {
    list-style: none;
  }

  .auth-header {
    width: auto;
  }
}

@media (min-width: 1440px) {
  .auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .auth-header {
    width: 424px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
  }
  .auth-img {
    width: 592px;
    margin-right: 104px;
  }

  .imgIllustration {
    width: 592px;
  }
  .auth-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
