/* Animations */

.slideUpToDown {
  animation: slideUpToDown 600ms ease-in-out;
}
@keyframes slideUpToDown {
  0% {
    transform: translateY(-100%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideDownToUp {
  animation: slideDownToUp 600ms ease-in-out;
}
@keyframes slideDownToUp {
  0% {
    transform: translateY(100%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideRightToLeft {
  animation: slideRightToLeft 600ms ease-in-out;
}
@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideLeftToRight {
  animation: slideLeftToRight 600ms ease-in-out;
}
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scaleInCenter {
  animation: scaleInCenter 350ms ease-in-out;
}
@keyframes scaleInCenter {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/* Buttons hover & focus */

.hoverYellowBtn {
  transition: all 150ms;
}

button:not(.disabled).hoverYellowBtn:hover,
button:not(.disabled).hoverYellowBtn:focus {
  background: #e3ffa8;
  box-shadow: inset 20px 20px 60px #c1d98f, inset -20px -20px 60px #ffffc1;
}
.hoverYellowBtn:active {
  transform: scale(0.95);
}

.hoverCloseBtn {
  transition: all 150ms;
}
.hoverCloseBtn:hover,
.hoverCloseBtn:focus {
  color: white;
}
.hoverCloseBtn:active {
  transform: scale(0.95);
}

/*  */

.logoHover {
  background: transparent;
  border: none;
  position: relative;
  transition: 0.5s ease;
}

.logoHover::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #e3ffa8;
  transition: 0.5s ease;
}

.logoHover:hover {
  transition-delay: 50ms;
}

.logoHover:hover::before {
  width: 100%;
}

.mainBtnHover {
  transition: 0.5s ease;
}
.mainBtnHover:hover,
.mainBtnHover:focus {
  background-color: #e3ffa8;
  color: #000000;
  transition: 0.5s ease;
}
.mainBtnHover:active {
  transform: scale(0.95);
}
