
.dashboardCaloriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  color: white;
  padding-right: 20px;
  
  align-items: center;
}
@media screen and (min-width: 834px) {
  .dashboardCaloriesContainer {
   width: 345px;
  }
}
@media screen and (min-width: 1440px) {
  .dashboardCaloriesContainer {
   width: 380px;
  }
}
.caloriesTitle{
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.caloriesSubtitle{
  font-size: 14px;
  color: #B6B6B6;
   margin-left: 8px;
}
@media screen and (min-width: 834px) {
  .caloriesTitle {
    font-size: 18px;
    line-height: 32px;
  }
}
.averageCalTitle{
  font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.caloriesChartWrapper {

  width: 100%;
}
@media screen and (min-width: 834px) {
  .caloriesChartWrapper {
     display: flex;
  overflow: hidden;
  width: 780px; 
  }
}
@media screen and (min-width: 1440px) {
  .caloriesChartWrapper {
   width: 679px; 
  }
}
.lineChartContainer{
padding: 25px 5px 24px 14px;
  background-color: #0F0F0F;
  border-radius: 12px;
}

@media screen and (min-width: 1440px) {
  .lineChartContainer {
   padding: 25px 20px 24px 14px;
  }
}
.caloriesChartContainer {
  width: 740px;

margin-bottom: 8px;
height: 313px;
}
@media screen and (min-width: 834px) {
  .caloriesChartContainer {
     display: flex;
  overflow: hidden;
  width: 780px; 
  
  }
}
@media screen and (min-width: 1440px) {
  .caloriesChartContainer {
   width: 672px;
   height: 382px;
   margin-bottom: 0px;
  }
}
.caloriesChatContainerScroll{
  display: flex;
  overflow-x: auto; 
  max-width: 100%; 
  white-space: nowrap; 
   scroll-behavior: smooth; 
   margin-bottom: 27px;
  
}
@media screen and (min-width: 834px) {
  .caloriesChatContainerScroll {
    width: 780px;
    overflow: hidden;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .caloriesChatContainerScroll {
    width: 679px;
    height: 380px;
    margin-bottom: 0px;
  }
}
.caloriesChatContainerScroll::-webkit-scrollbar {
 height: 8px;
  background-color: #0F0F0F;
  border-radius: 12px;
}

.caloriesChatContainerScroll::-webkit-scrollbar-thumb {
 background-color:rgba(255, 255, 255, 0.10);
  border-radius: 12px;
}

.caloriesChatContainerScroll::-webkit-scrollbar-track {
  background-color: #0F0F0F; 
}
