.dashboardSection {
  margin: 0 auto;
 
}
@media screen and (min-width: 1440px) {
  .dashboardSection {
   padding-bottom: 0px;
  }
}


.dashboardBtnLeftArrow {
  margin-right: 8px;
}
@media screen and (min-width: 834px) {
  .dashboardBtnLeftArrow {
    margin-right: 0px;
    width: 24px;
  }
}

.dashboardSvg {
  width: 16px;
  height: 16px;
  transform: scaleX(-1);
}
@media screen and (min-width: 834px) {
  .dashboardSvg {
    width: 24px;
    height: 24px;
  }
}

.dashboardSvgLink {
  stroke: rgba(182, 182, 182, 1);
}

.dashboardButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 16px;
}
@media screen and (min-width: 834px) {
  .dashboardButtonContainer {
     margin-bottom: 0px;
  }
}

.monthSlect {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-left: auto;
}
@media screen and (min-width: 834px) {
  .monthSlect {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
.dashboardDesctopGraph{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 1px;
}
.gridItem1{
  grid-column: 1/2;
}
.gridItem2{
  grid-column: 2/3;
}
.gridItem3{
  grid-column: 1/-1;
  grid-row: 2/3;
}}