.dashboardWaterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
@media screen and (min-width: 834px) {
  .dashboardWaterContainer {
    width: 345px;
  }
}
.waterTitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@media screen and (min-width: 834px) {
  .waterTitle {
    font-size: 18px;
    line-height: 32px;
  }
}
.averageTitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.waterSubtitle {
  font-size: 14px;
  color: #b6b6b6;
  margin-left: 8px;
}
.waterLineChartContainer {
  border-radius: 12px;
  padding: 25px 5px 24px 14px;
  background-color: #0f0f0f;
}
@media screen and (min-width: 1440px) {
  .waterLineChartContainer {
    padding: 25px 20px 24px 14px;
  }
}

.chartWrapper {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .chartWrapper {
    overflow: hidden;
    margin-bottom: 0px;
  }
}

.chartContainer {
  width: 740px;

  margin-bottom: 8px;
  height: 313px;
}
@media screen and (min-width: 834px) {
  .chartContainer {
    width: 780px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1440px) {
  .chartContainer {
    width: 679px;
    height: 380px;
    margin-bottom: 0px;
  }
}

.waterChartContainerScroll {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
  scroll-behavior: smooth;
  margin-bottom: 27px;
}
@media screen and (min-width: 834px) {
  .waterChartContainerScroll {
    width: 780px;
    overflow: hidden;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .waterChartContainerScroll {
    width: 679px;
    height: 380px;
    margin-bottom: 0px;
  }
}

.waterChartContainerScroll::-webkit-scrollbar {
  height: 8px;
  background-color: #0f0f0f;
  border-radius: 12px;
}

.waterChartContainerScroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.waterChartContainerScroll::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}
