
.titleContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
  align-items: center;
}
@media screen and (min-width: 834px) {
  .titleContainer {
   width: 335px;
  }
}
.titleWeight{
  font-size: 18px;
font-style: normal;
font-weight: 400;
}
@media screen and (min-width: 834px) {
  .titleWeight {
    font-size: 18px;
    line-height: 32px;
  }
}
.titleAverage{
  font-size: 14px;
font-style: normal;
font-weight: 400;
}
.weightSubtitle{
  font-size: 14px;
  color: #B6B6B6;
  margin-left: 8px;
}
.chartContainer {
  display: flex;
  justify-content: flex-start;
}

.weightLine {
  display: flex;
  flex-direction: row;
  gap: 23px;
  margin-left: 25px;
}
@media screen and (min-width: 834px) {
  .weightLine {
  gap: 7px;
  }
}
@media only screen and (min-width: 1440px) {
 .weightLine {
     gap: 22px;
     align-items: center;
     margin-left: 30px;
  }
}
.yearWeightLine{
    display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: 24px;
}

@media only screen and (min-width: 1440px) {
 .yearWeightLine {
     gap: 56px;
     align-items: center;
     margin-left: 20px;
  }
}
.weightPoint {
  display: flex;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
  padding-top: 24px;
  align-items: center;
  justify-content: center;
}
.yearWeightPoint{
  display: flex;
  font-size: 14px;
 width: 58px;
font-weight: 400;
line-height: 20px;
  padding-top: 24px;
  align-items: center;
  justify-content: center;
}
.dayLine{
  display: flex;
  flex-direction: row;

  gap: 29px;
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 36px;
}

@media screen and (min-width: 834px) {
  .dayLine {
  gap: 13px;
    margin-left: 13px;
  }
}
@media only screen and (min-width: 1440px) {
 .dayLine {
     gap: 29px;
       padding-bottom: 16px;
  }
}
.yearDayLine{
  display: flex;
  flex-direction: row;
 
  gap: 56px;
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 36px;
}
@media screen and (min-width: 834px) {
  .yearDayLine {
  gap: 4px;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1440px) {
 .yearDayLine {
     gap: 56px;
       padding-bottom: 16px;
  }
}
.dayPoint{
  font-size: 10px;
font-weight: 400;
line-height: 14px;
color: #B6B6B6;
}
.yearDayPoint{
   width: 58px;
    font-size: 10px;
font-weight: 400;
line-height: 14px;
color: #B6B6B6;
}
.weighChartContainer{
   background-color: #0F0F0F;
  border-radius: 12px;
  width: 1173px;
  margin-bottom: 8px;
}
@media screen and (min-width: 834px) {
  .weighChartContainer {
   width: 780px;
  margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1440px) {
 .weighChartContainer {
     width: 1440px;
  margin-bottom: 10px;
  }
}
.weighChartContainerScroll {
  display: flex;
  overflow-x: auto; 
  max-width: 100%; 
  white-space: nowrap; 
   scroll-behavior: smooth; 
   margin-bottom: 60px;
  
}
@media only screen and (min-width: 834px) {
 .weighChartContainerScroll {
   overflow: hidden; 
  margin-bottom: 0px;
  }
}
.weighChartContainerScroll::-webkit-scrollbar {
 height: 8px;
  background-color: #0F0F0F;
  border-radius: 12px;
}  

.weighChartContainerScroll::-webkit-scrollbar-thumb {
  background-color:rgba(255, 255, 255, 0.10);
  border-radius: 12px;
 
}

.weighChartContainerScroll::-webkit-scrollbar-thumb:hover {
  background-color:rgba(99, 96, 96, 0.1); 
}