.dailyGoalStatisticsContainer {
  width: 300px;
  border-radius: 12px;
  background-color: #0f0f0f;
  padding: 16px 12px;
}

.dailyGoalStatisticsList {
  width: 210px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dailyGoalStatisticsListItem {
  width: 100%;
  display: flex;
  gap: 20px;
}

.svgBubble {
  stroke: #45ffbc;
  fill: transparent;
}

.svgMilk {
  stroke: #b6c3ff;
  fill: transparent;
}

.dailyGoalTitle {
  font-size: 18px;

  font-weight: 400;
  line-height: 1.33em;

  margin-bottom: 6px;
}

.dailyGoalStatisticsListItemTitle {
  font-size: 18px;

  font-weight: 500;
  line-height: 1.33em;
  color: #b6b6b6;
}

.dailyGoalStatisticsListItemData {
  font-size: 34px;

  font-weight: 600;
  line-height: 1.11em;
}

.dailyGoalStatisticsListItemDataDescription {
  font-size: 14px;

  font-weight: 400;
  line-height: 1.42em;
  color: #b6b6b6;
  margin-left: 4px;
}

.dailyGoalStatisticsListItemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}