.container {
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  width: 320px;
}

@media only screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding: 0 27px;
    width: 834px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 34px;
    width: 1440px;
  }
}