.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.input {
  width: 300px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid #e3ffa8;
  gap: 10px;
  background-color: #0f0f0f;
  color: #b6b6b6;
  margin-bottom: 16px;
}

.button {
  width: 300px;
  height: 36px;
  padding: 8px 10px 8px 10px;
  border-radius: 12px;
  gap: 10px;
  background-color: #e3ffa8;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #0f0f0f;
  margin-bottom: 20px;
}

.error {
  color: rgb(12, 12, 12);
}

.imgContainer {
  margin-bottom: 24px;
}

.heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

.subheading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 24px;
}

.forgotPasswordLink {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  color: #b6b6b6;
  margin-bottom: 60px;
}

.signupText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 16px;
}

.signupLink {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .container {
    max-width: 834px;
    margin: 0 auto;
    padding-left: 227px;
    padding-right: 227px;
    padding-top: 40px;
    border-radius: 5px;
    padding-bottom: 60px;
  }
  .containerImg {
    display: flex;
    width: 380px;
    margin-bottom: 60px;
    align-items: stretch;
    justify-content: center;
  }
  .imgIlistration {
    width: 380px;
    margin-bottom: 60px;
  }
  .heading {
    font-family: Poppins;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
  }
  .subheading {
    width: 444px;
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
  }

  .input {
    width: 380px;
    height: 36px;
    gap: 16px;
  }
  .button {
    width: 380px;
    margin-bottom: 16px;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .linkContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .linkText {
    font-size: 14px;
    margin-right: 16px;
  }
  .forgotPasswordLink {
    margin-bottom: 250px;
  }

  .signupText {
    font-size: 14px;
    font-weight: 400;
    margin-right: 16px;
  }
  .signupContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: 190px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
  }
  .containerImg {
    max-width: 592px;
    margin-right: 134px;
  }

  .imgIlistration {
    width: 592px;
    margin-right: 134px;
  }

  .subheading {
    font-size: 18px;
    line-height: 1.3;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  .ContainerDiv {
    margin-right: 30px;
    padding-left: 30px;
  }
  .input {
    width: 192px;
  }

  .button {
    width: 192px;
    margin-bottom: 16px;
  }
  .heading {
    font-size: 30px;
    margin-left: 23px;
  }
  .subheading {
    width: 444px;
    font-size: 22px;
    line-height: 1.3;
    margin-left: 23px;
  }
  .forgotPasswordLink {
    text-align: left;
    margin-bottom: 212px;
  }
  .signupContainer {
    display: flex;
    align-items: baseline;
    margin-left: 23px;
  }
  .signupText {
    font-size: 12px;
    font-weight: 400;
    margin-right: 16px;
  }
  .subheading {
    font-size: 18px;
  }
  .signupLink {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
  }
}
