.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 24px 0 40px;

}

.ContainerDiv {
  margin-top: 24px;

}

.field {
  min-height: 16px;
}

.errorFields {
  display: block;
  width: auto;
  min-height: 16px;
  padding-left: 6px;
  text-align: start;
  color: #E74A3B;
}

.input {
  width: 300px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid #e3ffa8;
  gap: 10px;
  background-color: #0f0f0f;
  color: #b6b6b6;
  /* margin-bottom: 16px; */
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #0f0f0f inset;
  -webkit-text-fill-color: #b6b6b6;
  transition: background-color 3000s ease-in-out 0s;
}

.button {
  width: 300px;
  height: 36px;
  padding: 8px 10px 8px 10px;
  border-radius: 12px;
  gap: 10px;
  background-color: #e3ffa8;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #0f0f0f;
  margin-bottom: 20px;
}

.error {
  color: rgb(12, 12, 12);
}



.heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

.subheading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 24px;
}

.forgotPasswordLink {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  color: #b6b6b6;
  margin-bottom: 60px;
}

.signupText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  margin-bottom: 16px;
}

.signupLink {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
}



.googleAuth {
  width: 300px;
  height: 36px;
  display: flex;
  padding: 0.5rem 1.4rem;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 12px;

  gap: 0.75rem;

  color: #b6b6b6;
  cursor: pointer;
  transition: all 0.6s ease;
  margin: 0 auto 16px;
}

.googleAuth svg {
  height: 24px;
}

.googleAuth:hover {
  transform: scale(1.02);
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .container {

    padding: 40px 168px 60px;
    align-items: center;
    justify-content: center;

  }

  .ContainerDiv {
    margin-top: 60px;
    width: 444px;

  }

  .heading {
    font-family: Poppins;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



  }

  .subheading {
    width: 444px;
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
  }

  .input {
    width: 380px;
    height: 36px;
    gap: 16px;
  }

  .button {
    width: 380px;
    margin-bottom: 16px;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .linkText {
    font-size: 14px;
    margin-right: 16px;
  }

  .forgotPasswordLink {
    margin-bottom: 290px;
  }

  .signupText {
    font-size: 14px;
    font-weight: 400;
    margin-right: 16px;
  }

  .signupContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }


  .googleAuth {
    width: 250px;
  }
}

@media (min-width: 1440px) {

  .container {
    flex-direction: row;

    padding: 40px 116px 60px;
    align-items: center;
    justify-content: center;
    overflow: hidden;


  }

  .ContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 508px;
    justify-content: space-between;

    margin-top: 80px;
    margin-left: 104px;
    width: 444px;

  }

  .subheading {
    font-size: 18px;
    line-height: 1.3;

  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;



  }



  .input {
    width: 212px;
  }

  .button {
    width: 212px;
    margin-bottom: 20px;
  }

  .heading {
    font-size: 30px;

  }

  .subheading {

    font-size: 22px;
    line-height: 1.3;

  }

  .forgotPasswordLink {
    text-align: left;
    margin-bottom: 0;
    padding-left: 25px;
  }

  .signupContainer {
    display: flex;
    align-items: baseline;

    margin-top: auto;
  }

  .signupText {
    font-size: 12px;
    font-weight: 400;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .subheading {
    font-size: 18px;
  }

  .signupLink {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
  }



  .googleAuth {
    width: 212px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0em;
    padding: 0 5px;
    margin: 0 0 16px;
  }

  .googleAuth svg {
    height: 24px;
  }

  .googleAuth:hover {
    transform: scale(1.02);
  }
}