.mainPageStatisticsSection {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  width: 300px;
  color: #fff;
  gap: 20px;

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 834px) {
    padding-top: 24px;
    width: 780px;
  }

  @media (min-width: 1440px) {
    padding-top: 20px;
    width: 1372px;
  }
}

.mainPageStatisticsSectionHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mainPageStatisticsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 1440px) {
    flex-direction: row;
  }
}

.mainPageStatisticsGoalAndWaterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 834px) {
    flex-direction: row;
  }
}

/* 1440, 834, 320 */

.recommendedFoodSectionButton {
  display: flex;
  align-items: center;

  color: #b6b6b6;
  font-size: 14px;

  font-weight: 500;
  line-height: 1.42em;

  @media (min-width: 834px) {
    font-size: 16px;

    line-height: 1.37em;
  }
}

.mainPageStatisticsSectionTitle {
  font-size: 24px;

  font-weight: 500;
  line-height: 1.25em;

  @media (min-width: 834px) {
    font-size: 30px;
    line-height: 1.2em;
  }
}

.recommendedFoodSectionButtonSvg {
  transform: rotate(180deg);
  margin-left: 6px;
}
