.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 100px;
  background-color: #0f0f0f;
  padding: 0 10px;
}

@media screen and (min-width: 834px) {
  .header {
    font-size: 22px;

    padding: 0 27px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 0 34px;
  }
}

.logoLink {
  color: #b6b6b6;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.45;
}

@media screen and (min-width: 834px) {
  .logoLink {
    font-size: 22px;
  }
}

.logoLink:hover {
  color: white;
}

.authLinkUp,
.authLinkIn {
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 834px) {
  .authLinkUp,
  .authLinkIn {
    font-size: 14px;
  }
}

.navlink {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  fill: white;
}

.active {
  color: #e3ffa8;
}

.avatarImg {
  width: 30px;
  height: 30px;
}

.userBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42;
}

.userSettingsModal {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #0f0f0f;
  width: 158px;
  height: 112px;
  border-radius: 12px;
  box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.2);
  top: 80px;
  right: 27px;
  padding: 24px;
}
