.main-auth-container {
  text-align: center;
  padding: 20px;
}

.main-auth-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.auth-button {
  width: Hug (142px);
  height: Hug (36px);
  padding: 8px 10px 8px 10px;
  border-radius: 12px;
  gap: 10px;
  color: #ffffff;
  background-color: yellow;
}

.auth-button:hover {
  background-color: #000000;
}

.main-auth-button {
  display: flex;
  justify-content: center;
}
