.containerDiary{
    /* padding: 20px 34px 52px; */
    padding: 16px 10px 40px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btnNav{
    display: flex;
}
.btnDiary{
    display: flex;
}

.textBtn{
    /* width: 79px;
    height: 36px; */
    width: 63px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    margin-left: 12px;
    font-weight: 500;
    align-items:center;
}
.container{
    align-items:center;
    
}
.containerLis{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}
.titleTab{
    width: 148px;
    height: 32px;
    gap: 12px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    display: flex;
}
.listTab{
    display: flex;
    width: 178px;
    height: 52px;
    gap: 12px;
    align-items:center;
    flex-wrap: wrap;
}
.itemTab{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}
.tableRow{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}