.lineChartContainer{
width: 656px;
  background-color: #0F0F0F;
  border-radius: 12px;
}
.lineChartContainer > div::-webkit-scrollbar {
  width: 6px; /* Ширина скролу */
}

.lineChartContainer > div::-webkit-scrollbar-thumb {
  background-color: rgba(182, 182, 182, 0.7); /* Колір пальця скролу */
  border-radius: 6px; /* Закруглені кути пальця скролу */
}

.lineChartContainer > div::-webkit-scrollbar-track {
  background-color: rgba(41, 41, 40, 1); /* Колір треку скролу */
}