.lineChartContainer{
width: 656px;
  background-color: #0F0F0F;
  border-radius: 12px;
}
.lineChartContainer > div::-webkit-scrollbar {
  width: 2px; 
}

.lineChartContainer > div::-webkit-scrollbar-thumb {
  background-color: rgba(182, 182, 182, 0.7); 
  border-radius: 6px; 
}

.lineChartContainer > div::-webkit-scrollbar-track {
  background-color: rgba(41, 41, 40, 1); 
}