.weightModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  width: 392px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.2);
  top: 100px;
  right: 36px;
  padding: 20px 24px;
}
.titleWigth {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 8px;
}
.subTitleWigth {
  color: #b6b6b6;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 16px;
}

.subDate {
  font-size: 14px;
  line-height: 1.42;
}

.calendarDate {
  color: #b6b6b6;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
.formWeight {
  display: flex;
  justify-content: space-between;
}

.inputWeigth {
  background-color: transparent;
  border-radius: 12px;
  outline: transparent;
  border: 1px solid #e3ffa8;
  padding: 8px 10px;
  color: white;
}
.inputWeigth::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.confirmWeight {
  display: flex;
  justify-content: center;
  color: #0f0f0f;
  width: 166px;
  padding: 8px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background-color: #e3ffa8;
  font-weight: 500;
  line-height: 1.42;
}

.closeWeigthModal {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  font-weight: 400;
  color: #b6b6b6;
}
