.dateSelectorContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
}
.lastMonthBtn {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-left: 8px;
  margin-top: 24px;
  
}
@media screen and (min-width: 834px) {
  .lastMonthBtn {
    width: 212px;
    font-size: 30px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .lastMonthBtn {
    margin-top: 16px;
  }
}

.dashboardArrowDownSvg {
  width: 16px;
  height: 16px;
  transform: scaleY(-1);
  margin-left: 10px;
}
@media screen and (min-width: 834px) {
  .dashboardArrowDownSvg {
    margin-left: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .dashboardArrowDownSvg {
    width: 24px;
    height: 24px;
  }
}

.dashboardArrowDownSvgLink {
  stroke: rgba(182, 182, 182, 1);
  fill: rgba(182, 182, 182, 1);
}
.dashboardArrowDownSvgLink:hover {
  stroke: rgba(227, 255, 168, 1);
  fill: rgba(227, 255, 168, 1);
}

.dashboardArrowDownSvgLink:focus {
  fill: rgba(227, 255, 168, 1);
  stroke: rgba(227, 255, 168, 1);
}

.dashboardSelect {
  display: flex;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 400;
  width: 165px;
  height: 54px;
  padding: 16px 0 16px 12px;
  border-radius: 12px;
  box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.2);
  justify-content: flex-start;
  position: relative;
  line-height: 32px;
}
@media screen and (min-width: 834px) {
  .dashboardSelect {
    width: 212px;
    height: 64px;
    font-size: 22px;
   
  }
}
@media screen and (min-width: 1440px) {
  .dashboardSelect {
    width: 212px;
    height: 64px;
   
  }
}
.positonForButton {
  position: relative;
}
.modalOverlay {
  position: absolute;
  top: 152px;
  left: 42px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
@media screen and (min-width: 834px) {
  .modalOverlay {
    top: 153px;
    left: 59px;
  }
}
@media screen and (min-width: 1440px) {
  .modalOverlay {
    top: 146px;
    left: 64px;
  }
}
