.settingsWrapper {
  margin: 0 auto;
}

.settingsAvatar {
  width: 36px;
  border-radius: 50%;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.photoLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.imageSettings {
  width: 300px;
  height: 296px;
}
